.dashboardContent {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  .storyButton {
    background-color: #f3f4f6;
    .storyLink {
      display: flex;
      align-items: center;
      .storySpan {
        color: #266b73;
      }
      .storyIcon {
        color: #266b73;
      }
    }
  }
  .storyButton:hover {
    background-color: #3b82f6;
    color: white;
    .storySpan {
      color: white;
    }
    .storyIcon {
      color: white;
    }
  }
  .recent {
  }
  .allStories {
  }
}

@media (max-width: 1080px) {
  .dashboardContent {
    padding: 0px 15px;
  }
}

/*.container {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  padding:2em;
  .section {
    padding: 1em;
    h1 { color: #077fb6; font-family: 'Trocchi', serif; font-size: 45px; font-weight: 600; line-height: 48px; margin: 0; }
    .cards-container { 
      margin-top: 6em;
      background-color: #eee;
      padding: 1em;
    }
    .dashboard-profilecard{

    }
    .tool-icons{
      padding: 1em;
    }
  }
}



@media (max-width: 768px) {
  .container {
    grid-template-columns: none;
  }
}

*/
