$white-color: white;
$dark-green: #266b73;
$bg-color: #f3f4f6;

.dashboardContent {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  .storyButton {
    background-color: $bg-color;
    border: none;
    .storyLink {
      display: flex;
      align-items: center;
      .storySpan {
        color: $dark-green;
        font-size: 18px;
      }
      .storyIcon {
        color: $dark-green;
        margin-left: 10px;
        font-size: 20px;
      }
    }
  }
  .storyButton:hover {
    background-color: #3b82f6;
    color: $white-color;
    .storySpan {
      color: $white-color;
    }
    .storyIcon {
      color: $white-color;
    }
  }
  .recent {
    margin-top: 15px;
    h3 {
      color: black;
    }
    .recentCard {
      background-color: $bg-color;
      margin-left: 7px;
      border-radius: 12px;
      p {
        font-size: 15px;
        font-weight: 600;
        span {
          font-size: 14px;
          font-weight: 400;
          margin-left: 5px;
        }
      }
    }
  }
  .allStories {
    .storiesSpinner {
      font-size: 24px;
      font-weight: 700;
      margin-top: 10px;
    }
    .storiesHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      h3 {
        color: black;
      }
      .allStoriesLink {
        font-size: 15px;
      }
    }
    .stories-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .storiesCard {
      background-color: $bg-color;
      border-radius: 15px;
      margin-left: 6px;
      width: 300px;
      p {
        font-size: 16px;
        font-weight: 600;
        span {
          font-size: 15px;
          font-weight: 400;
          margin-left: 5px;
        }
      }
    }
    .storiesMenu {
      background-color: $bg-color;
      border: none;
    }
  }
}

@media (max-width: 1080px) {
  .dashboardContent {
    padding: 0px 15px;
  }
}
